# The environment Craft is currently running in ('dev', 'staging', 'production', etc.)
CRAFT_ENVIRONMENT="dev"
PRIMARY_SITE_URL="http://localhost:5000"


# The secure key Craft will use for hashing and encrypting data
# replace this with a strong key for staging/production
CRAFT_SECURITY_KEY="somerandomkey"

# For quickly downloading remote database
# More info: https://www.npmjs.com/package/hamstr
HAMSTR_PROD_DB=
# Only necessary if we need SSH tunnelling to reach database.
HAMSTR_PROD_SSH=
HAMSTR_PROD_SSH_PW=
