{% if not craft.app.config.general.devMode %}
{% requireLogin %}
{% endif %}
<!doctype html>

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

  <link rel="home" href="{{ siteUrl }}" />
	{% includeCssFile "/dist/app.css" %}
</head>

<body>

  {% cache if not craft.app.config.general.devMode %}
    {% include 'partials/header' %}
  {% endcache %}

  <main id="top">
    {% block content %}
    {% endblock content %}
  </main>

  {% cache if not craft.app.config.general.devMode %}
    {% include 'partials/footer' %}
  {% endcache %}

  {% includeJsFile "/dist/app.js" %}
</body>
