{% set menu = craft.entries({slug: 'mainmenu'}).first.menuItems %}

<header class="contain-to-grid fixed header">
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <a href="/">
                <svg version="1.2" baseProfile="tiny" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.9 79.2">
                    <g class="logo-text show-for-large-up">
                        <path fill="#194173" d="M16.8 71.9c0 5.2-3.4 7.6-8.4 7.6S0 77.1 0 71.9V60h5.1v11c0 2.5.7 4.7 3.3 4.7 2.6 0 3.3-2.1 3.3-4.7V60h5.1v11.9zM22.4 60h5.1v15.4h6.2v3.8H22.4M37.4 74.5c1.3.7 3.2 1.3 5.3 1.3 1.6 0 3.2-.3 3.2-1.9 0-3.6-9.1-1.3-9.1-8.3 0-4.6 4.5-5.9 8.4-5.9 1.8 0 3.7.3 4.9.7l-.3 4c-1.3-.6-2.8-.9-4.3-.9-1.3 0-3.4.1-3.4 1.8 0 3.1 9.1 1 9.1 7.9 0 5-4.2 6.3-8.4 6.3-1.8 0-4-.3-5.7-.8l.3-4.2zM72.7 60h13.5v3.6h-8.4v4h7.9v3.6h-7.9v4.4h8.7v3.6H72.7M91.5 60h5.1v19.2h-5.1zM102.3 60h6.5l6.5 13V60h4.6v19.2h-6.3l-6.7-13.1h-.1l.2 13.1h-4.7M53.3 60v3.8h5.5v15.4h5.1V63.8h5.5V60"/>
                        <path fill="#194173" d="M125.1 61.6v-1.1h.7c.4 0 .8.1.8.5 0 .5-.4.6-.9.6h-.6zm0 .4h.6l.9 1.5h.6l-1-1.6c.5-.1.9-.3.9-1s-.4-1-1.3-1h-1.4v3.6h.5V62zm.7 2.9c1.7 0 3.1-1.3 3.1-3.1s-1.4-3.1-3.1-3.1c-1.7 0-3.1 1.3-3.1 3.1s1.4 3.1 3.1 3.1m-2.5-3.1c0-1.5 1.1-2.6 2.5-2.6s2.5 1.1 2.5 2.6-1.1 2.6-2.5 2.6-2.5-1.1-2.5-2.6"/>
                    </g>
                    <g class="logo-boat" fill="#194173">
                        <path d="M63.7 8.7c-.8-.6-1.6-1.3-2.3-2-.7.8-1.4 1.5-2.3 2-.8.6-1.8 1-2.8 1.3 1.1 1.4 2 3 2.6 4.7.7 1.7 1.1 3.5 1.3 5.4h2.2c.2-1.9.6-3.7 1.3-5.4.7-1.7 1.5-3.3 2.6-4.7-.9-.3-1.8-.8-2.6-1.3zM66.4 12.9c-.6 1.1-1.1 2.2-1.5 3.4-.4 1.2-.6 2.5-.8 3.8h1.6c.1-1.2.4-2.4.8-3.5s.9-2.2 1.6-3.1l-.9-.3c-.3-.1-.5-.2-.8-.3zM56.5 12.9c-.3.1-.6.3-.9.4l-.9.3c.7.9 1.2 2 1.6 3.1.4 1.1.7 2.3.8 3.5h1.6c-.1-1.3-.4-2.6-.8-3.8-.3-1.3-.8-2.4-1.4-3.5z"/>
                        <path d="M61.5 0h-13v45h25.8V0H61.5zm5.7 29.3v4.6c0 2-.7 3.4-1.7 4.4-1.1 1-2.5 1.4-4 1.4s-3-.5-4-1.4c-1.1-1-1.7-2.4-1.7-4.4v-9.2h1.4v9.2c0 1.4.4 2.5 1.2 3.3.7.7 1.8 1.1 3.2 1.1 1.3 0 2.4-.4 3.2-1.1.7-.7 1.2-1.8 1.2-3.3v-9.2h1.4v4.6zm-5.8 6.1c1.1 0 1.2-.7 1.3-1.5v-9.1h1.4V34c0 1.9-1.2 2.8-2.7 2.8-1.4 0-2.7-1-2.7-2.8v-9.2h1.4v9.1c.1.8.2 1.5 1.3 1.5zM68.5 16c-.6 1.3-1.1 2.7-1.2 4.2 0 .3-.1.5-.1.8v.8H55.6V21c0-.3 0-.5-.1-.8-.2-1.5-.6-2.9-1.2-4.2-.6-1.3-1.5-2.4-2.5-3.4.7 0 1.3-.1 2-.3.6-.2 1.3-.4 1.8-.7-.3-.5-.7-.9-1-1.4-.4-.4-.8-.9-1.2-1.2 1.8 0 3.5-.6 4.9-1.5 1.4-.9 2.5-2.3 3.1-3.8.6 1.6 1.7 2.9 3.1 3.8 1.4.9 3.1 1.5 4.9 1.5l-1.2 1.2c-.4.4-.7.9-1 1.4.6.3 1.2.5 1.8.7.6.2 1.3.3 2 .3-1 .9-1.8 2.1-2.5 3.4z"/>
                    </g>
                </svg>
                </a>
            </li>
            <li class="toggle-topbar">
                <a>
                <svg id="hamburger" width="40px" height="32px">
                    <rect x="0" y="0" width="100%" height="4"/>
                    <rect x="0" y="12" width="100%" height="4"/>
                    <rect x="0" y="24" width="100%" height="4"/>
                </svg>
                </a>
            </li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                {% for b in menu %}
                    {% set e = b.linkTo.entry %}
                    {% set current = entry is defined and (entry.isDescendantOf(e) or e.id == entry.id) %}

                <li class="{{current ? 'current'}}">
                    <a href="{{b.linkTo.url}}">
                        <span class="underline">{{b.linkTo.linkText}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </nav>
</header>
