{% set menu = craft.entries({slug: 'mainmenu'}).first.menuItems %}
<header>
  <nav>
    <ul>
      {% for b in menu %}
        {% set e = b.linkTo.entry %}
        {% set current = entry is defined and (entry.isDescendantOf(e) or e.id == entry.id) %}

      <li class="{{current ? 'current'}}">
        <a href="{{b.linkTo.url}}">{{b.linkTo.linkText}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
