{% if not craft.config.devMode %}
{% requireLogin %}
{% endif %}
<!doctype html>

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon" href="/favicon.ico" />

  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>

  <link rel="home" href="{{ siteUrl }}" />
  <link rel="stylesheet" href="/webpack-dist/screen.css">
</head>

<body>
  {% if craft.Adminbar is defined and entry is defined and not craft.request.isLivePreview %}
    {{ craft.Adminbar.show(entry) }}
  {% endif %}

  {% cache if not craft.config.devMode %}
    {% include 'partials/header' %}
  {% endcache %}

  <main id="top">
    {% block content %}
    {% endblock content %}
  </main>

  {% cache if not craft.config.devMode %}
    {% include 'partials/footer' %}
  {% endcache %}

  {% includeJsFile "/webpack-dist/bundle.js" %}
</body>
